@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="menu">
        <a href="/Home/Students">Студенты</a>
        <a href="/Home/PlanOfStudys">Планы обучения</a>
        <a href="/Home/Attestations">Аттестации</a>
    </div>
    <div class="header">
        <img src="" alt="Logo" class="logo">
    </div>
</div>
