@using UniversityContracts.ViewModels
@model List<ReportPlanOfStudyViewModel>
@{
    ViewData["Title"] = "Отчёт по планам обучения";
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
</div>

<form method="post">
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4 mt-2">
            <input type="submit" value="сохранить ворд" class="btn btn-primary" />
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>План обучения</th>
            <th>Форма обучения</th>
            <th>Дисциплины</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlanOfStudyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormOfStudy)
                </td>
                <td>
                    @foreach (var discipline in item.Disciplines)
                    {
                        @Html.DisplayFor(modelItem => discipline)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


