@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<div class="menu">
		<a href="/Home/Disciplines">Дисциплины</a>
		<a href="/Home/Teachers">Преподаватели</a>
		<a href="/Home/Statements">Ведомости</a>
		<a href="/Home/Report">Отчёты по преподавателям</a>
		<a href="/Home/ReportDisciplines">Отчёты по дисциплинам</a>
	</div>
	<div class="header">
		<img src="" alt="Logo" class="logo">
	</div>
</div>
