@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<div class="menu">
		<a href="/Home/Disciplines">Disciplines</a>
		<a href="/Home/Teachers">Teachers</a>
		<a href="/Home/Statements">Statements</a>
		<a href="/Home/Report">Report</a>
		<a href="/Home/ReportDisciplines">ReportDisciplines</a>
	</div>
	<div class="header">
		<img src="" alt="Logo" class="logo">
	</div>
</div>
